@font-face {
    font-family: 'Satellite';
    src: url('Satellite-Regular.woff2') format('woff2'),
        url('Satellite-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

